{% extends "account/account_base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h4 class="hidden">{% trans "Sign In" %}</h4>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p class="hidden">{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot hidden">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or, for a local account and sign in below:' %}</div>

        </div>

        <h4 class="top-gap text-center">
            使用第三方账户登录
        </h4>
        <div class="top-gap social-login-panel">
            <div>
                <div class="text-center text-muted">
                    <span>
                        登录后可在本站进行评论回复
                    </span>
                </div>
                <div class="text-center social-icons">
                    <span class="github">
                        <a href="/accounts/github/login/?process=login">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="weibo">
                        <a href="/accounts/weibo/login/?process=login">
                            <i class="fa fa-weibo" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>


        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <h4 class="top-gap text-center">
            使用本地账户登录
        <a href="{{ signup_url }}" class="float-right">（{% trans "Sign Up" %}）</a>
    </h4>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <p>
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
        <button class="comment-btn" type="submit">{% trans "Sign In" %}</button>
    </form>



{% endblock %}