{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>CodeZ|Blog</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">
    <link rel="icon" type="image/x-ico" href="{% static 'imgs/logo.ico' %}">

    <style>
        span.highlighted {
            color: red;
        }
    </style>

    <!-- js -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
</head>

<body class="bg-faded">
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" id="trigger-overlay" class="navbar-toggle">
{#                <span class="ion-navicon"></span>#}
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand codez-logo" href="{% url 'home' %}">
                <b class="app-name">CodeZ</b>
            </a>
        </div>

        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li ><a href="{% url 'home' %}">Home</a></li>
                <li ><a href="{% url 'app' %}">App</a></li>
                <li class="active"><a href="{% url 'blog:blog_index' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li>
                    {% if request.user.is_authenticated %}
                        <div class="btn-group">
                            <img src="{{ user.avatar }}" alt="" class="navbar-head img-circle">
                            <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu">
                                <li><a href="">{{ user.username }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/accounts/logout/">登出</a></li>
                            </ul>
                        </div>
                    {% else %}
                    <a href="/accounts/login/" class=""><i class="fa fa-sign-in"></i>登入</a>
                    {% endif %}

                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="blog-top-block">
    <p class="main-logo">
        <img src="{% static 'imgs/logo.png'%}" alt="#">
    </p>
</div>
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8 left-blog">
                <div class="bg-white">
                    {% block main %}
                    {% endblock main %}
                </div>
            </main>
            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}

                <div class="widget widget-recent-posts top-gap">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_recent_posts as recent_post_list %}
                    <ul>
                        {% for post in recent_post_list %}
                            <li>
                                <a href="{{ post.get_absolute_url }}"><i class="fa fa-angle-double-right"></i> {{ post.title }}</a>
                            </li>
                        {% empty %}
                            暂无文章！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category top-gap">
                    <h3 class="widget-title">分类</h3>
                    {% get_categories as category_list %}
                    <ul>
                        {% for category in category_list %}
                            <li>
                                <a href="{% url 'blog:category' category.pk %}">
                                    <i class="fa fa-angle-double-right"></i> {{ category.name }}
                                    <span class="post-count">({{ category.num_posts }})</span>
                                </a>
                            </li>
                        {% empty %}
                            暂无分类！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-archives top-gap">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                            <li>
                                <a href="{% url 'blog:archives' date.year date.month %}">
                                    <i class="fa fa-angle-double-right"></i>
                                    {{ date.year }} 年 {{ date.month }} 月</a>
                            </li>
                        {% empty %}
                            暂无归档！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud top-gap">
                    <h3 class="widget-title">标签云</h3>
                    {% get_tags as tag_list %}
                    <ul>
                        {% for tag in tag_list %}
                            <li>
                                <a href="{% url 'blog:tag' tag.pk %}"><i class="fa fa-angle-double-right"></i> {{ tag.name }}</a>
                            </li>
                        {% empty %}
                            暂无标签！
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-webmaster top-gap">
                    <h3 class="widget-title">
                        访客
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cspan id='cnzz_stat_icon_1264375896'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1264375896%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                    </h3>
                    <div class="tools-global">
                        <script type="text/javascript"
                                src="//rf.revolvermaps.com/0/0/1.js?i=5k4zlu6b82h&amp;s=240&amp;m=0&amp;v=true&amp;r=false&amp;b=ffffff&amp;n=false&amp;c=ff0000"
                                async="async"></script>
                    </div>
                </div>
                <div class="widget rss top-gap">
                    <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>

                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2017 - <a href="{% url 'home' %}" title="网页模板">CodeZ</a>个站
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'app' %}">App</a></li>
            <li><a href="{% url 'blog:blog_index' %}" class="active">Blog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
</div>
<a href="javascript:;" class="back-top" id="js-back-top" style="display: none;">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>
<script src="{% static 'js/script.js' %}"></script>
<script>
    $('#js-back-top').on('click', function () {
        $('html, body').animate({scrollTop: 0}, 300);
        return false;

    });
    $(window).on('scroll',function () {
        var $pos = $(window).height() / 4;
        if ($(window).scrollTop()>$pos) {
            $('#js-back-top').fadeIn();
        }else {
            $('#js-back-top').fadeOut();
        }
    })
</script>
</body>
</html>